@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html, body
{
    height: 100%;
    width: 100%;
    font-family: 'Questrial', sans-serif;
    background-color: black;
}

.button
{
    padding: 20px;
    margin: 0px 5px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    font-size: large;
}

.row
{
    margin: 10px 0;
}

.row input {
    color: white;
    background-color: black;
    margin: 0;
    padding: 10px 4px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 19px;
}