.text-center
{
    color: rgba(20,47,68,255);
    text-align: center;
}

.bg-red
{
    background-color: red;
}

.mx-auto
{
    margin: auto;
}

.flex
{
    display: flex;
}

.flex-col
{
    flex-direction: column;
}

.items-center
{
    align-items: center;
}

.long-button
{
    width: 7.7vw;
}

.numerals
{
    color: rgba(20,47,68,255);
    font-weight: 300;
    background-color: rgba(1,130,135,255);
}

.special
{
    color: rgba(20,47,68,255);
    font-weight: 300;
    background-color: rgba(77,168,171,255);
}

.operators
{
    color: rgba(20,47,68,255);
    font-weight: 300;
    background-color: rgba(77,168,171,255);
}

.link
{
    text-align: center;
    font-size: large;
}

.card
{
    width: 300px;
    background-color: rgba(162,187,207,255);
    margin-top: 0.4rem;
    padding: 2rem 2rem 2rem;
    border-radius: 1rem;
}