.text-center
{
    color: white;
    text-align: center;
}

.bg-red
{
    background-color: red;
}

.mx-auto
{
    margin: auto;
}

.flex
{
    display: flex;
}

.flex-col
{
    flex-direction: column;
}

.items-center
{
    align-items: center;
}

.long-button
{
    width: 7.7vw;
}

.numerals
{
    color: white;
    background-color: rgb(49, 49, 49);
}

.special
{
    background-color: rgb(159, 159, 159);
}

.operators
{
    color: white;
    background-color: rgb(246, 153, 6);
}